.projectContainer {
  padding: 100px 0;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.projectCard {
  max-width: 450px;
  margin: 20px;
}
.projectCard:hover {
  cursor: pointer;
}

.projectCard h3 {
  margin: 20px 0;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1.6px;
}

.projectCard:hover h3 {
  text-decoration: underline;
}

.prjctImg {
  height: 540px;
  width: 450px;
  border-radius: 6px;
  transition: transform 0.2s ease-in-out;
}
.projectCard:hover img {
  transform: translateY(-7px);
}

.projectCard p {
  color: #7b7979;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.24px;
}

@media screen and (max-width: 480px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px 0;
  }
  .projectCard {
    margin: 0;
    margin-top: 30px;
  }
  .prjctImg {
    height: 400px;
    width: 300px;
  }
}
