.teamContainer {
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 100px 0;
}

.membersContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.membersContainer h3 {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.8px;
}

.membersContainer p {
  font-size: 24px;
  color: white;
  line-height: 30px;
  letter-spacing: 0.24px;
}

.mbrImg {
  height: 350px;
  border-radius: 7px;
}

.lazyImg {
  filter: blur(20px);
}

@media screen and (max-width: 480px) {
  .teamContainer {
    padding: 60px 0;
    text-align: center;
  }

  .membersContainer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .membersContainer h3 {
    line-height: 28px;
    letter-spacing: 1px;
  }

  .membersContainer p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14px;
  }
  .memberCard {
    margin-top: 15px;
  }
  .mbrImg {
    max-width: 300px;
  }
}
