.officeContainer {
  background-color: #fffaef;
  padding: 50px 0 25px 0;
}

.officeContainer h1 {
  margin: 100px 0px 100px 20px;
}
.officeImgs {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.officeImgs img {
  max-width: 450px;
  height: 600px;
}

@media screen and (max-width: 480px) {
  .officeImgs {
    flex-direction: column;
    margin: 0;
  }
  .officeImgs img {
    margin-top: 20px;
  }

  .officeContainer h1 {
    margin: 50px 0px 50px 20px;
  }
}
