.contactContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 120px;
}

.contactContainer h2 {
  color: white;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: -0.31px;
}

.contactContainer a {
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-size: 46px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: -0.92px;
}

.addresses {
  width: 100%;
  margin: 0 auto;
  color: white;
  display: flex;
  padding-top: 60px;
  justify-content: space-around;
  align-items: center;
}

.socialLinks a {
  margin-right: 40px;
}
